@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "poppins";
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}

a {
    text-decoration: none;
    color: #000
}

body {
    max-width: 1440px;
    min-width: 220px;
    margin: 0 auto;
}

nav {
    position: fixed;
    z-index: 9999;
    display: flex;
    /* background-color: black; */
    width: 1440px;
    background-color: #fff;
    padding: 10px 0;
}

.nav-links {
    transition: 0.7s ease;
}

.hambuger {
    display: none;
    cursor: pointer;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #0A4535;
}



section {
    max-width: 100%;
    min-width: 220px;

}

.navbar {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.all-sect {
    width: 1100px;
    margin: 0 auto;
}

.menu ul {
    display: flex;
    list-style-type: none;
    margin-right: 50px;
}

.menu ul li {
    padding: 0px 15px;
}

.menu ul li a {
    font-size: 16px;
}

.menu ul li a:hover {
    color: #51994B;
}

.menu ul li a:focus {
    color: #51994B;
}

.first-sect {
    background-image: url(/img/hero\ img.svg);
    height: 600px;
    background-repeat: no-repeat;
}

.ban1 {
    padding-top: 220px;
}

.ban1 h2 {
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-weight: 300;
}

.ban1 p {
    color: #fff;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn button {
    background-color: #51994B;
    padding: 10px 30px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.btn button:hover {
    background: transparent;
    border: 2px solid #51994B;
}

.second-sect {
    margin-top: 100px;
}

.ban2 h2 {
    text-align: center;
    font-weight: 400;
    line-height: 40px;
}

.reasons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.res {
    display: flex;
    align-items: center;
    gap: 20px;
}

.third-sect {
    background-image: url(/img/shop.svg);
    height: 400px;
    background-repeat: no-repeat;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.ban3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ban3-text {
    color: #fff;
    text-align: center;
}

.ban3-text h2 {
    font-weight: 400;
}

.ban3-text p {
    font-size: 12px;
}

.fourth-sect {
    margin-top: 100px;
    text-align: center;
}

.fourth-sect h2 {
    font-size: 40px;
    font-weight: 400;
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

.card {
    width: 200px;
}

.card-img-info {
    width: 200px;
    height: 280px;
    background-color: #E9E3DD;
}

.img-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.percent {
    border-radius: 0px 0px 10px 0px;
    background-color: #EFBD06;
    padding: 10px;
}

.percent p {
    font-size: 15px;
    font-weight: 600;
}

.heart {
    margin-right: 10px;
}

.img-text h3 {
    letter-spacing: -0.38px;
    font-size: 15px;
}

.img-text p {
    font-size: 25px;
    color: #0A4535;
    margin-top: 10px;
}

.btn2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn2 button {
    background-color: #51994B;
    padding: 10px 40px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.btn2 button:hover {
    background-color: transparent;
    border: 2px solid #51994B;
    color: #000;
}

.fifth-sect {
    background-image: url(/img/shop.svg);
    height: 400px;
    background-repeat: no-repeat;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.ban4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.ban4-text {
    color: #fff;
    text-align: center;
    width: 500px;
}

.ban4-text h2 {
    font-weight: 400;
}

.ban4-text p {
    font-size: 15px;
}

.ban4-img {
    width: 500px;
}

.ban4-img img {
    width: 100%;
}

.sixth-sect {
    margin-top: 100px;
}

.sixth-sect h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

.form {
    display: flex;
    justify-content: center;
    width: 500px;
    border: 1px solid #000;
    margin: 0 auto;
    border-radius: 25px;
    padding: 5px 0;
    padding-left: 4px;
    margin-top: 50px;
}

form input {
    width: 350px;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-right: 30px;
}

form button {
    background-color: #51994B;
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.categories {
    margin-top: 70px;
}

.categories h2 {
    text-align: left;
    font-size: 20px;
    margin-left: 70px;
}

.card-text p {
    text-align: center;
    font-weight: 600;
}

footer {
    background-image: url(/img/shop.svg);
    height: 60vh;
    margin-top: 100px;
}

.all-foot {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.abt p {
    color: #fff;
    font-size: 15px;
    margin-bottom: 100px;
}

.icons img {
    width: 25px;
}

.foot p {
    color: #fff;
}

.right-foot {
    display: flex;
    color: #fff;
    gap: 100px;
}

.right-foot ul li {
    list-style-type: none;
}

.right-foot h3 {
    font-weight: 400;
}

.right-foot ul li a {
    color: #fff;
    font-size: 15px;
}

.right-foot ul a {
    color: #fff;
}

.right-foot a:hover {
    text-decoration: underline;
}