@media screen and (max-width: 1200px) {
    nav {
        width: 1200px;
    }
    .all-sect{
        width: 1000px;
        margin: 0 auto;
    }
    .navbar {
        width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1024px) {
    nav {
        width: 1024px;
    }
    .all-sect{
        width: 900px;
        margin: 0 auto;
    }
    .navbar {
        width: 900px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    .ban3-img{
        width: 400px;
    }
    .ban3-img img{
        width: 100%;
    }
    .cards{
        gap: 30px;
    }
}
@media screen and (max-width: 900px) {
    nav {
        width: 900px;
    }
    .all-sect{
        width: 700px;
        margin: 0 auto;
    }
    .navbar {
        width: 700px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    .ban3-img{
        width: 400px;
    }
    .ban3-img img{
        width: 100%;
    }
    .ban3-text h2 br{
        display: none;
    }
    .cards{
        gap: 30px;
        flex-wrap: wrap;
    }
    .abt p{
        margin-bottom: 50px;
    }
    .right-foot{
        gap: 30px;
    }
    .right-foot ul li a{
        font-size: 12px;
    }
    .right-foot ul p{
        font-size: 12px;
    }
    .right-foot ul a{
        color: #fff;
        font-size: 12px;
    }
}
@media screen and (max-width: 768px) {
    nav {
        width: 768px;
    }
    .all-sect{
        width: 600px;
        margin: 0 auto;
    }
    .navbar {
        width: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    .ban3-img{
        width: 300px;
    }
    .ban3-img img{
        width: 100%;
    }
    .ban3-text h2 br{
        display: none;
    }
    .cards{
        gap: 30px;
        flex-wrap: wrap;
    }
    .abt p{
        margin-bottom: 50px;
    }
    .right-foot{
        gap: 50px;
        margin-top: 20px;
    }
    .right-foot ul li a{
        font-size: 12px;
    }
    .right-foot ul p{
        font-size: 12px;
    }
    .right-foot ul a{
        color: #fff;
        font-size: 12px;
    }
    footer{
        background-image: url(/img/shop.svg);
        height: auto;
        margin-top: 100px;
        padding-bottom: 20px;
    }
    .all-foot{
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}